services:
  front:
    build:
      context: ./aceite-tecnico-frontend
    image: aceite-tecnico-frontend:v1
    container_name: aceite-tecnico-front
    ports:
      - 8100:80
    networks:
      - aceite-net

  backend:
    build:
      context: ./aceite-tecnico-backend
    image: aceite-tecnico-backend:v1
    container_name: aceite-tecnico-back
    ports:
      - 9090:8080
    networks:
      - aceite-net
    volumes:
    - ./uploads:/app/arquivos

  mysql:
    image: mysql:9
    container_name: aceite-tecnico-db
    ports:
      - 3306:3306
    volumes:
      - data:/var/lib/mysql
    environment:
      MYSQL_DATABASE: porto
      MYSQL_ROOT_PASSWORD: root
    networks:
      - aceite-net

volumes:
  data:

networks:
  aceite-net: